<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a asp-controller="Film" asp-action="Index" class="navbar-brand">Film Sitesi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">

        <li class="nav-item">
          <a asp-controller="Film" asp-action="Create" class="nav-link">Film Ekle</a>
        </li>

        <li class="nav-item">
          <a asp-controller="Film" asp-action="Latest" class="nav-link">Son Eklenen Filmler</a>
        </li>

        <li class="nav-item">
          <a asp-controller="Film" asp-action="Index" class="nav-link">Tüm Filmler</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarCategoryDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Kategoriler
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarCategoryDropdown">
            <li><a asp-controller="Film" asp-action="Category" asp-route-kategori="Animasyon"
                class="dropdown-item">Animasyon Filmleri</a></li>
            <li><a asp-controller="Film" asp-action="Category" asp-route-kategori="Bilim Kurgu"
                class="dropdown-item">Bilim Kurgu Filmleri</a></li>
            <li><a asp-controller="Film" asp-action="Category" asp-route-kategori="Dram" class="dropdown-item">Dram
                Filmleri</a></li>
            <li><a asp-controller="Film" asp-action="Category" asp-route-kategori="Komedi" class="dropdown-item">Komedi
                Filmleri</a></li>
            <li><a asp-controller="Film" asp-action="Category" asp-route-kategori="Macera" class="dropdown-item">Macera
                Filmleri</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" name="searchString" placeholder="Film Ara" aria-label="Search"
          value="@ViewBag.SearchString">
        <button class="btn btn-light btn-sm" type="submit">Ara</button>
      </form>
    </div>
  </div>
</nav>
